
.animations{
   width: 100px;
    height: 100px;
    background-image: url 'https://cdn-images-1.medium.com/max/1600/1*FCZMG2AgKPDXqXyOtV4faA.png';
    position :relative;
  --webkit-animation: flip-vertical-left;
}
@-webkit-keyframes flip-vertical-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}}@keyframes flip-vertical-left{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}100%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}}